extends layout
block content

  h1 Server Error
  p Sorry!  There was an unexpected error on the server.

  pre= error.stack

//- if(errors)
//-   h1 Server Error
//-   h2.errors Ooops an error occured!
//-   ul.errors
//-     each error in errors
//-       li
//-         =error.message